body {

   background-repeat: no-repeat;
   background-size: cover;

}

@font-face {
  font-family: "partyhotter";
  src: url("fonts/ParryHotter.ttf");
  font-weight: normal;
}

h1 {

  font-family: "partyhotter";

}
#catagoryName {

margin-top: 10%;
}

.guess {

  list-style-type: none;
  display: inline;
}

.letter {
    list-style: none;
    width: 30px;
    height: 30px;
    border: solid 1px black;
    padding: 2px;
    float: left;
    margin: 2px;
  }

  .letter-button-color {
    color: darkcyan;
  }

  .fridge-color {
    color: orange;
  }

  #display {
    margin-top: 78px;
    height: 500px;
    width: 220px;
    margin-left: 60px;
  }

  #buttons {
    padding-top: 20px;
    margin: 10px;
  }

  #clear {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100px;
  }

  .active {
    background-color: lightblue;
  }

  #reset {
    font-family: "partyhotter";


  }